bbmap==38.98
blast
blobtools==1.1.1
bowtie2
bwa-mem2==2.2.1
bwa==0.7.17  
cat==5.2.3
checkm-genome==1.2.1
checkv
clusterone
coverm==0.6.1
das_tool==1.1.4
diamond==2.0.15
dram
eggnog-mapper==2.1.9
fastp==0.23.2
gtdbtk==1.7.0
hmmer==3.1b2
ipython
jupyterhub
kaiju==1.9.0
kraken2==2.1.2
maxbin2==2.2.7
mcl
megahit==1.2.9
metabat2==2.12.1
mmseqs2==13.45111
multiqc==1.13a
fastqc
numpy==1.23.2
pandas==1.4.3
prodigal==2.6.3
prokka==1.13
python
quast==5.2.0
samtools==1.15.1
scipy==1.9.1
seqtk==1.3
sourmash==4.4.3
spades==3.15.3
vcontact2
virsorter=2
vsearch==2.21.1
